rect {
    fill: steelblue
}

text {
    font-size: 1.8em;
}

svg{
    border: black 5px solid;
}

body {
    background-color: wheat;
} 

h1, h2, h3 {
    color: black;
    text-align: Center;
}

div {

    padding: 10px;
    box-sizing: border-box;

    text-align: Center;
}

